.episodes {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

img {
  height: 350px;
}

.wait {
  width: 100%;
  color: white;
  height: 25px;
  font-size: larger;
  text-align: center;
}