.episodes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 15px;
}

img {
  height: 350px;
}

.wait {
  width: 100%;
  color: yellow;
  background-color: rgb(37, 46, 37);
  height: 25px;
  font-size: larger;
  text-align: center;
}

.filtering {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
  padding: 0 15px;
}

.episodesContainer {
  display: flex;
  flex-flow: column wrap;
  width: 95%;
  margin: 20px auto;
  border: 5px solid hsl(0, 0%, 40%);
  padding: 5px;
  background: hsl(0, 0%, 20%);
  outline: 5px solid hsl(0, 0%, 60%);
  box-shadow:
    0 0 0 10px hsl(0, 0%, 80%),
    0 0 0 15px hsl(0, 0%, 90%);
  border-radius: 4px;
  background-color: #3b3636;
}
