.episodes {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

img {
  height: 350px;
}

.wait {
  width: 100%;
  color: yellow;
  background-color: rgb(37, 46, 37);
  height: 25px;
  font-size: larger;
  text-align: center;
}

.filtering {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.episodesContainer {
  
}
