nav {
  height: 70px;
}

.image {
  background-image: url('../assets/images/star-trek-badge.png');
  width: 40px;
  height: 40px; 
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 5rem;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  opacity: 0.7;
  margin: 0 15px;
}

.navText {
  font-weight: 800;
  font-size: larger;
}